header {
  display: flex;
  width: 85%;
  padding: 50px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 15vh;

  @media only screen and (max-width: 768px) {
    width: 100%;
    padding: 10px 25px 10px 10px;
  }
}

.logo img {
  width: 80px;
  height: 80px;

  @media only screen and (max-width: 768px) {
    .logo {
      margin-left: 10px;

      img {
        width: 55px;
        height: 55px;
      }
    }
  }
}

.logoBack {
  width: 636px;

  @media only screen and (max-width: 768px) {
    width: 460px;
  }

  @media only screen and (max-width: 480px) {
    width: 300px;
  }
}

.navigation {
  width: 30%;
  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.navigation ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-weight: bold;

  li svg {
    width: 40px;
    height: 20px;
  }
}

.menuLink {
  color: #4c4f65;
  font-weight: 800;
  letter-spacing: 1px;
  display: block;
  padding: 15px 5px;
  cursor: pointer;

  &:after {
    content: "";
    display: block;
    height: 3px;
    z-index: 2;
    opacity: 0;
    background-color: #f25757;
    transition: all .25s cubic-bezier(.694, .048, .335, 1);
  }

  &:hover {
    &:after {
      opacity: 1;
    }
  }
}

.menuTrigger {
  @media only screen and (max-width: 768px) {
    display: block;
    width: 42px;
    height: 42px;
    cursor: pointer;
  }
}

.navSocialStripe {
  display: none;
  position: absolute;
  bottom: 30px;
  left: 15%;
  width: 80%;
  margin: 0;
  transform: translateY(15px);
  opacity: 0;
  padding-left: 25px;
  transition: opacity .3s ease, transform .4s cubic-bezier(.694, .048, .335, 1), -webkit-transform .4s cubic-bezier(.694, .048, .335, 1);
  transition-delay: 0s;
  list-style: none;
  z-index: 126;

  li {
    display: inline-block;
  }

  i {
    font-size: 32px;
    color: #fff;
  }
}

.mobileMenu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  visibility: hidden;
  transition: all .1s ease .5s;
  z-index: -1;

  &__open {
    .navSocialStripe {
      opacity: 1;
      transition-delay: .45s;
      transform: translateY(0);
    }
  }
}


.mobileNavLinks {
  opacity: 0;
  transform: translateY(-50%);
  transition: opacity .3s ease, transform .4s cubic-bezier(.694, .048, .335, 1), -webkit-transform .4s cubic-bezier(.694, .048, .335, 1);
  position: absolute;
  transform-style: preserve-3d;
  top: 50%;
  left: 15%;
  width: 70%;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 126;
  transition-delay: 0s;

  p, a {
    display: inline-block;
    color: #fff;
    font-size: 28px;
    padding: 12px 25px;
    font-family: League Spartan, Helvetica, Arial, sans-serif;
    cursor: pointer;
  }
}

@media only screen and (max-width: 768px) {
  .mobileMenu__open {
    visibility: visible;
    z-index: 145;
    overflow-y: hidden;
    opacity: 1;
    transition-delay: .1s;

    main, footer {
      visibility: hidden;
    }

    .closeTrigger {
      transform: scale(1);
      opacity: 1;
      transition-delay: .52s;
      display: block;
    }

    &:after {
      transition-delay: .15s;
      background: linear-gradient(270deg, #235aa6, #101b3b);
      z-index: 125;
    }

    &:before {
      transition-delay: .25s;
      background: linear-gradient(270deg, #f06449, #ee2828);
      z-index: 124;
    }

    &:after, &:before {
      will-change: transform;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateX(0);
      overflow-y: hidden;
      transition: transform .45s cubic-bezier(.694, .048, .335, 1), -webkit-transform .45s cubic-bezier(.694, .048, .335, 1);
    }
  }

  .mobileMenu {
    display: block;
  }

  .menuTrigger {
    cursor: pointer;
    display: block;
    height: 42px;
    width: 42px;

    &__bar {
      background-color: #dbdce4;
      display: block;
      height: 3px;
      margin-bottom: 6px;
      position: relative;
      width: 100%;

      &.middle {
        margin-left: 15%;
        width: 85%;
      }

      &.bottom {
        margin-left: 40%;
        width: 60%;
      }
    }
  }

  .closeTrigger {
    position: absolute;
    top: 30px;
    right: 20px;
    transform: scale(.75);
    opacity: 0;
    transition: opacity .25s ease 0s, transform .35s cubic-bezier(.694, .048, .335, 1) 0s, -webkit-transform .35s cubic-bezier(.694, .048, .335, 1) 0s;
    z-index: 146;
    display: block;
    width: 42px;
    height: 42px;
    cursor: pointer;

    &__bar {
      display: block;
      width: 100%;
      height: 4px;
      background-color: #e3d8d3;
      position: relative;

      &.left {
        transform: rotate(-45deg);
      }

      &.right {
        transform: rotate(45deg);
        top: -3px;
      }
    }
  }
  .mobileNavLinks {
    opacity: 1;
    transition-delay: .4s;
    transform: translateY(-60%);
  }

  .navSocialStripe {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
